/* 修改后的收藏按钮样式 */
.favorite-btn {
    width: auto !important;
    height: auto !important;
    border: none !important;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 10px;
    padding: 5px;
    border-radius: 0 !important;
}

.favorite-btn:hover {
    background-color: transparent !important;
    transform: scale(1.1);
    border-color: transparent !important;
}

.favorite-btn i {
    font-size: 22px !important;
    color: #aaa;
}

.favorite-btn.active i {
    color: #ff3e6c;
}

.favorite-btn:hover i {
    color: #ff3e6c;
} 